body{
    font-family: 'Roboto', sans-serif;
    background-color: blue;

}

/* .contenedor{
    margin: 50px;
    background-color: white;
} */

h1{
    color: white;
}

p{
    color: white;
}

/* agregar una imagen de fondo */
.contenedor {
    background-image: url(imagen7.png);
    background-size: cover;
    
}