.bg-welcome {
    background-image: url('https://placehold.co/2000');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    padd

}
