body{

    font-family: Helvetica, sans-serif;
    font-size: 20px;
    background: rgb(248, 248, 250);
    
}

.contenedor {
    
    margin: 50px;
    background-color: aliceblue;
}

h1 {
    
    color: rgb(24, 22, 22);
}

p {
    
    color: rgb(19, 13, 13);
}

.content {
    

    background-image:url("images.jpg");
    background-size: cover;
}

